{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
<div class="home-block">
  <div>
    <h1>Negative/Positive Emotions by Country by Category over the time </h1>
    <table align="center">
        <tr>  
          <th>Date</th>
          <th>Country</th>
          <th>Actor_type</th>
          <th>Nummentions</th>
          <th>GoldsteinScale</th>
          <th>Tone</th>
        </tr>
        {% for item in data %}
          <tr>
            <td>
              {{item[0]}}
            </td>
            <td>
              {{item[1]}}
            </td>
            <td>
              {{item[2]}}
            </td>
            <td>
              {{item[3]}}
            </td>
            <td>
              {{item[4]}}
            </td>
            <td>
              {{item[5]}}
            </td>
          </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
